.footer
    .footer__logo.newFooter
        img(src="/img/logo-white.png", alt="Natours logo")
        h2.headinfooter Medicat
    ul.footer__nav
        li
            a(href="#") About us
        li
            a(href="#") Download apps
        li
            a(href="#") Become a guide
        li
            a(href="#") Careers
        li
            a(href="#") Contact
    p.footer__copyright
        | © by Medicat Team. All rights reserved.