head
    meta(charser='UTF-8')
    meta(name='viewport' content='widh=device-width,initial-scale=1.0')
    link(rel='stylesheet' href='/css/style.css')
    link(rel="stylesheet" href="/css/styles.css")
    link(rel="stylesheet", href="/css/stylelog.css")
    link(rel='shortcut icon' type='/image/png' href='/img/favicon.png')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?fmaily=Lato:300,300i,700")
    title Prime Health - Modern Healthcare Solutions
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=home,phone_iphone")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=cardiology,home,phone_iphone,stethoscope")
    title  Medicat

body
    //Header    
    include _header
    //content
    block content 
        h1 This is a placeholder heading
    //footer
    //- include _footer
    script(type="module",src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.8.4/axios.min.js')
    script(type="module", src='/js/login.js')
