doctype html
html
  head
    title Welcome Page
    link(rel="stylesheet", href="/css/welcome.css")
  body
    div.bg-gradient
    //- Decorative particles
    div.particle
    div.particle
    div.particle
    div.particle
    div.particle

    div.container
      div.welcome-card
        div.shine

        div.logo.fadeIn
          div.logo-circle

        h1.fadeIn.delay-1 
          | Welcome To Our Platform

        p.subtitle.fadeIn.delay-2
          | Experience our cutting-edge solutions designed to transform your digital journey with powerful, intuitive tools.

        div.buttons.fadeIn.delay-3
          a(href="/signup").btn.btn-primary 
            | Sign Up
          a(href="/login").btn.btn-secondary 
            | Login

        div.footer.fadeIn.delay-3
          | Join over 
          span.highlight 
            | 10,000+
          | professionals already using our platform
